<div class="principal--list">
    <hr>
    <h1>Investimentos</h1>

    <div class="table--area">
        <table class="GeneratedTable">
            <thead>
                <tr>
                    <th>Nome Investimento</th>
                    <th>Valor Investimento</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let investiment of investiments">
                    <td> {{investiment.name}}</td>
                    <td> {{investiment.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>